/*light red #FFDCD9 */
/*blue #648287 */
/*light blue #BAC4C6 */
/*green #648287*/

h1, h2, h3, small {
  color: #648287;
  font-family: 'Bitter', serif;
}

a:link, a:visited, a:active {
  color: #8b8378;
  font-weight: bolder;
  text-decoration: none;
/*  font-size: 32px;
  font-family: 'Chathura', sans-serif;*/
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 20px;
}

a:hover {
  color: black;
  font-weight: bold;
  text-decoration: underline;
}

li {
  list-style-type: none;
  text-decoration: none;
  float: left;
}


body {
  margin: 0 auto;
}

/* allows bottom of page to not be obscured by footer navbar */
footer.bottom {
  padding-top: 100px;
}

.jumbotron {
  padding: 10px 15px;
  margin: 0px;
  /*background-image: url("/art_cascade.png");*/
  background-repeat: no-repeat;
  background-size: contain;
  background: linear-gradient(160deg, #DCA7A1, #FFFFFF);
  background-repeat: no-repeat;
}

.jumbo-image {
  position: relative;
  float: none;
}

.art-cascade {
  max-width: 225px;
}

.navbar {
  background-color: #BAC4C6;
  margin: 0px;
}

/* about page VIDEO */
.video {
  margin: 50px;
}

/* used in Blog posts in _posts */
.signature {
  float: right;
  margin-right: 50px;
  margin-bottom: 10px;
  font-size: 16px;
  color: grey;
}
