/*styles for bio index.html*/

h1, h2, h3 {
  color: #8B0000;
  font-family: fantasy;
}

a:link, a:visited, a:active {
  color: #8b8378;
  font-weight: bolder;
  text-decoration: none;
}

a:hover {
  color: black;
  font-weight: bold;
  text-decoration: underline;
}

ul {
  text-decoration: none;
  list-style-type: none;
}

li {
  float: left;
}


body {
  background-color: #ebece4; /*grey cliffs*/
  margin: 0;
  padding: 0;
}

.container {
  margin: 0;
  padding: 0;
  /*width: 100%;*/
/*  border: 5px dotted black;*/
/*  color: #8B0000; text dark-red*/
}


.content {
  max-width: 700px;
  margin: 0 auto;
  font-family: 'Oswald', serif;
  font-size: 15px;
  background-color: #f1edc2; /*toasted meringue*/
}/*  border: 2px dotted orange;*/

.tabs {
  padding: 10px;
}

.about-me {
  padding: 5px;
  margin: 5px 5px 5px 5px;
  text-align: justify;
}

.about-me h1 {
  text-align: center;
}

.nav {
/*  border: 2px dotted blue;*/
  width: 94%;
}

.nav.lower {
  position: absolute;

}

/* about page VIDEO */
.video {
  margin: 50px;
}

/* used in Blog posts in _posts */

.signature {
  float: right;
  margin-right: 50px;
  margin-bottom: 10px;
  font-size: 16px;
  color: grey;
}