---
layout: page
title: launch page
---
<!-- project navigation row -->
<div class="row">
    <div class="col-md-12">
        <h2>Deployed Projects<br />
            <small>Personal projects</small>
        </h2>
        <div class="row">
<!-- BARKIN@PP -->
            <div class="col-md-3">
                <div class="btn-group">
                    <button type="button" class="btn btn-lg btn-success">
                        Barkin@app
                    </button>
                    <button type="button" 
                        class="btn btn-lg btn-success dropdown-toggle" 
                        data-toggle="dropdown" 
                        aria-haspopup="true" 
                        aria-expanded="false"
                    >
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                    </button> 
                    <ul class="dropdown-menu">
                        <li 
                            ng-click="body.getDetailsBarkinApp()"
                        >
                            <a href=""
                            >Details
                            </a>
                        </li>
                        <li>
                            <a 
                                href="https://evening-fortress-43547.herokuapp.com/" 
                                title="my twitter clone"
                            >Check it out!
                        </a>
                        </li>
                    </ul>
                </div>
            </div>

<!-- DO THE ANGLE -->
            <div class="col-md-3">
                <div class="btn-group">
                    <button type="button" class="btn btn-lg btn-success">
                        Do the Angle
                    </button>
                    <button type="button" 
                        class="btn btn-lg btn-success dropdown-toggle" 
                        data-toggle="dropdown" 
                        aria-haspopup="true" 
                        aria-expanded="false"
                    >
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu">
                        <li 
                            ng-click="body.getDetailsDoTheAngle()"
                        >
                            <a href=""
                            >Details
                            </a>
                        </li>
                        <li>
                            <a 
                                href="https://billbunkum.github.io/do-the-angle/"
                                title="angular to-do list"
                            >Check it out!
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

<!-- GROCERY LIST -->
            <div class="col-md-3">
                <div class="btn-group">
                    <button type="button" class="btn btn-lg btn-success">
                        Grocery List
                    </button>
                    <button type="button" 
                        class="btn btn-lg btn-success dropdown-toggle" 
                        data-toggle="dropdown" 
                        aria-haspopup="true" 
                        aria-expanded="false"
                    >
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu">
                        <li 
                            ng-click="body.getDetailsGroceryList()"
                        >
                            <a href=""
                            >Details
                            </a>
                        </li>
                        <li>
                            <a 
                                href="https://grocerybootylist.herokuapp.com/" 
                                title="djangoREST + angular"
                                class="button-text"
                            >Check it out!
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

<!-- DATE BY HATE -->
            <div class="col-md-3">
                <div class="btn-group">
                    <button type="button" class="btn btn-lg btn-default">
                        Date by Hate
                    </button>
                    <button type="button" 
                        class="btn btn-lg btn-default dropdown-toggle" 
                        data-toggle="dropdown" 
                        aria-haspopup="true" 
                        aria-expanded="false"
                    >
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu">
                        <li 
                            ng-click="body.getDetailsDateByHate()"
                        >
                            <a href=""
                            >Details
                            </a>
                        </li>
                        <li>
                            <a 
                                href="https://datebyhate.herokuapp.com/accounts/login/?next=/" 
                                title="django + djangoREST + angular"
                            >Check it out!
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div> <!-- col -->
</div> <!-- row -->
<p></p>

<!-- EXPLANATION of projects-->
<!-- NEEDS change from ng-show to ng-include, separate explanations into html pages -->
<div class="row">
    <div class="col-md-12 explanation-bg"
        ng-show="body.details"
    >
        <div class="explanation">
            <div ng-show="body.barkinapp">
                <h3>Barkin@pp</h3>
                ...details
            </div>

            <div ng-show="body.dotheangle">
                <h3>Do the Angle</h3>
                A to-do list made with Angular; this simple app relies a lot of <code>ng-show</code> and ternary functions. I am currently delving into <em>UI-router</em> for bigger projects which need to be split into <em>components</em>.
            </div>

            <div ng-show="body.grocerylist">
                <h3>Grocery List</h3>
                ...details
            </div>

            <div ng-show="body.datebyhate">
                <h3>Date-by-Hate</h3>
                Having some issues with <code>cross-domain requests</code>; DBH retrieves info from a foreign API which does not use https (for some reason). This is another 'deployment' obstacle I have run into suddenly; it will be interesting solving it. More @ <a href="{{site.obstacles}}" alt="blog post">bootcamp-blog</a>.
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h3>Walk-thru projects<br />
            <small>Used to learn fundamentals in class</small>
        </h3>
        <button class="btn btn-info">
            <a 
                href="https://rocky-gorge-46988.herokuapp.com/" 
                alt="open-weather-app"
                title="using Flask w/ Open Weather API"
                class="button-text"
            >
                Open Weather
            </a>
        </button>
    </div>
</div>