---
layout: page
title: index
---
<!-- dp row 1 -->
<div class="row">
    <div class="col-xs-12">
        <h2>Deployed Projects<br />
            <small>Personal projects</small>
        </h2>
        <div class="row">
            <div class="col-xs-1 col-sm-2"></div>
            <div class="col-xs-10 col-md-8">
                <a href="https://kavakings.github.io/"
                    class="thumbnail"
                >REBUILD
                    <img ng-src="{{site.kavakings-image}}"
                        alt="kavakings rebuild"
                        title="kavakings rebuild"
                        class="img-circle dp-thumbs"
                    />
                </a>

                <div class="btn-group">
                    <button type="button"
                        class="btn btn-success"
                        data-toggle="modal"
                        data-target="#kavakings-modal"
                    >Kavakings
                    <i class="fa fa-level-up" aria-hidden="true"></i>
                    </button>
<!-- kavakings modal -->
                    <div class="modal fade"
                        id="kavakings-modal"
                        tabindex="-1"
                        role="dialog"
                        aria-labelledby="kavakings-label"
                    >
                        <div class="modal-dialog modal-lg"
                            role="document"
                        >
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button"
                                        class="close"
                                        data-dismiss="modal"
                                        aria-label="Close"
                                    >
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <h4 class="modal-title"
                                        id="kavakings-label"
                                    >Kavakings Preview
                                    </h4>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-xs-2"></div>
                                        <div class="col-xs-8">
                                            <img src="{{site.kavakings-splash}}"
                                                title="preview"
                                                class="modal-thumbs"
                                            />
                                        </div>
                                        <div class="col-xs-2"></div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button"
                                        class="btn btn-default"
                                        data-dismiss="modal"
                                    >Close
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div> <!-- modal END -->
<!-- kavakings caret -->
                    <button type="button" 
                        class="btn  btn-success dropdown-toggle" 
                        data-toggle="dropdown" 
                        aria-haspopup="true" 
                        aria-expanded="false"
                    >
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                    </button> 
                    <ul class="dropdown-menu">
                        <li 
                            ng-click="body.getDetailsKavakings()"
                        >
                            <a href=""
                            >Details
                            </a>
                        </li>
                        <li>
                        <!-- https://evening-fortress-43547.herokuapp.com/ -->
                            <a 
                                href="{{site.kavakings-deploy}}" 
                                title="my twitter clone"
                            >Check it out!
                            </a>
                        </li>
                    </ul>
                </div> <!-- btn group -->
            </div>
            <div class="col-xs-1 col-sm-2"></div>
        </div> <!-- row END -->

<!-- Kavakings DETAILS -->
        <div ng-show="body.kavakings">
            <div class="row">
                <div class="col-xs-8 col-xs-offset-2 explanation-bg"
                    ng-show="body.details"
                >
                    <div class="explanation">
                        <h3>Kavakings</h3>
                        <p>This is a Jekyll/Angular site I created freelance-style for a friend who has just started his kava tea business in China. This version is particular because it is a refactoring of the original site I built (before attending the <a href="{{site.awesomeinc}}">web dev bootcamp</a>).</p>
                        <p>I ran into several issues while coding this site, particularly how <em>Liquid</em> and <em>Angular</em>'s curly-braces tend to confuse one another.</p>
                        <button class="btn btn-default" 
                            ng-click="body.hideAllDetails()"
                            >Close
                        </button>
                    </div>
                </div>
            </div>
        </div>

<!-- DreadLore basic -->
        <div class="row">
            <div class="col-xs-1 col-sm-2"></div>
            <div class="col-xs-10 col-sm-8">
                <a href="{{site.dreadLore-deploy}}"
                    class="thumbnail"
                >
                    <img ng-src="{{site.dreadLore-image}}"
                        alt="DreadLore Official"
                        title="DreadLore Official"
                        class="img-circle dp-thumbs"
                    />
                </a>

                <div class="btn-group">
                    <button type="button"
                        class="btn btn-success"
                        data-toggle="modal"
                        data-target="#dreadLore-modal"
                    >DreadLore
                    <i class="fa fa-level-up" aria-hidden="true"></i>
                    </button>
<!-- DreadLore modal -->
                    <div class="modal fade"
                        id="dreadLore-modal"
                        tabindex="-1"
                        role="dialog"
                        aria-labelledby="dreadLore-label"
                    >
                        <div class="modal-dialog modal-lg"
                            role="document"
                        >
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button"
                                        class="close"
                                        data-dismiss="modal"
                                        aria-label="Close"
                                    >
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <h4 class="modal-title"
                                        id="dreadLore-label"
                                    >DreadLore Preview
                                    </h4>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-xs-2"></div>
                                        <div class="col-xs-8">
                                            <img src="{{site.dreadLore-splash}}"
                                                title="preview"
                                                class="modal-thumbs"
                                            />
                                        </div>
                                        <div class="col-xs-2"></div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button"
                                        class="btn btn-default"
                                        data-dismiss="modal"
                                    >Close
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div> <!-- modal END -->
<!-- DreadLore caret -->
                    <button type="button" 
                        class="btn  btn-success dropdown-toggle" 
                        data-toggle="dropdown" 
                        aria-haspopup="true" 
                        aria-expanded="false"
                    >
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                    </button> 
                    <ul class="dropdown-menu">
                        <li 
                            ng-click="body.getDetailsDreadLore()"
                        >
                            <a href=""
                            >Details
                            </a>
                        </li>
                        <li>
                            <a 
                                href="{{site.dreadLore-deploy}}" 
                                title="my twitter clone"
                            >Check it out!
                            </a>
                        </li>
                    </ul>
                </div> <!-- btn group -->
            </div>
            <div class="col-xs-1 col-sm-2"></div>
        </div> <!-- row END -->

<!-- Kavakings DETAILS -->
        <div ng-show="body.dreadLore">
            <div class="row">
                <div class="col-xs-8 col-xs-offset-2 explanation-bg"
                    ng-show="body.details"
                >
                    <div class="explanation">
                        <h3>DreadLore</h3>
                        <p>
                            DreadLore 'DL' is a tabletop RPG which the co-founder of Adventure Kings LLC and myself are creating; the game can be thought of as a 'pen &amp; ink' RPG similar to <a href="{{site.dragons-link}}">Dungeons &amp; Dragons</a>, <a href="{{site.numenera-link}}">Numenera</a>, etc.I am building this static website to bolster my web development skills as well as to create a much-needed 'official' website for our business venture. 
                        </p>
                        <h4>Versions</h4>
                        <p>
                            As I learned in the 'bootcamp', it's more important to have a working, unfinished (even ugly) product than to have no product at all. Thus, for the time being, I'll be deploying a simple site which uses <a href="{{site.materialize-link}}">Materialze</a> instead of Bootstrap - I might as well test out something new. In the meantime, I'm working on a <a href="{{site.flask-tutorial-link}}">Flask tutorial</a> on the side; the eventual DL site will most likely be built off <a href="{{site.flask-link}}">Flask</a>.
                        </p>
                        <button class="btn btn-default" 
                            ng-click="body.hideAllDetails()"
                            >Close
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
<!-- BARKIN@PP -->
            <div class="col-xs-1 col-sm-2"></div>
            <div class="col-xs-10 col-sm-8">
                <a href="{{site.barkinapp-deploy}}" 
                    class="thumbnail"
                >
                    <img ng-src="{{site.media-prod}}frenchBulldog_black.png" 
                        class="img-circle dp-thumbs"
                    />
                </a>
                <div class="btn-group">
                    <button type="button"
                        class="btn  btn-success"
                        data-toggle="modal"
                        data-target="#barkin-modal"
                    >Barkin@pp
                    <i class="fa fa-level-up" aria-hidden="true"></i>
                    </button>
<!-- barkin@pp modal -->
                    <div class="modal fade"
                        id="barkin-modal"
                        tabindex="-1"
                        role="dialog"
                        aria-labelledby="barkin-label"
                    >
                        <div class="modal-dialog modal-lg"
                            role="document"
                        >
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button"
                                        class="close"
                                        data-dismiss="modal"
                                        aria-label="Close"
                                    >
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <h4 class="modal-title"
                                        id="barkin-label"
                                    >Barkin@pp Preview
                                    </h4>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-xs-2"></div>
                                        <div class="col-xs-8">
                                            <img src="{{site.media-prod}}barkinapp-splash.png"
                                                title="preview"
                                                class="modal-thumbs"
                                            />
                                        </div>
                                        <div class="col-xs-2"></div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button"
                                        class="btn btn-default"
                                        data-dismiss="modal"
                                    >Close
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div> <!-- modal END -->
<!-- barkin@pp caret -->
                    <button type="button" 
                        class="btn  btn-success dropdown-toggle" 
                        data-toggle="dropdown" 
                        aria-haspopup="true" 
                        aria-expanded="false"
                    >
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                    </button> 
                    <ul class="dropdown-menu">
                        <li 
                            ng-click="body.getDetailsBarkinApp()"
                        >
                            <a href=""
                            >Details
                            </a>
                        </li>
                        <li>
                        <!-- https://evening-fortress-43547.herokuapp.com/ -->
                            <a 
                                href="{{site.barkinapp-deploy}}" 
                                title="my twitter clone"
                            >Check it out!
                            </a>
                        </li>
                    </ul>
                </div> <!-- btn group -->
            </div> <!-- col END -->
            <div class="col-xs-1 col-sm-2"></div>
        </div> <!-- row END -->

<!-- Barkin@pp DETAILS -->
        <div ng-show="body.barkinapp">
            <div class="row">
                <div class="col-xs-8 col-xs-offset-2 explanation-bg"
                    ng-show="body.details"
                >
                    <div class="explanation">
                        <h3>Barkin@pp</h3>
                        <p>
                            I made this twitter-clone using a Django back-end; the toughest part was understanding how <code>django models</code> work; the <code>django user model</code> gave me trouble as there are plenty of abstractions occuring in the background (or as we called it <em>Django magic</em>). Barkin@pp got me used to building &amp; troubleshooting a well-thought-out back-end.
                        </p>
                        <p>
                            UPDATE 11.25.16<br />
                            Fixed the overall site <em>look</em>; added some functionality to the navigation.
                        </p>
                        <button class="btn btn-default" 
                            ng-click="body.hideAllDetails()"
                        >Close
                        </button>
                    </div>
                </div>
            </div>
        </div>

<!-- DO THE ANGLE -->
        <div class="row">
            <div class="col-xs-1 col-sm-2"></div>
            <div class="col-xs-10 col-sm-8">
                <a href="{{site.dotheangle-deploy}}" 
                    class="thumbnail"
                >
                    <img ng-src="{{site.media-prod}}hcube.gif" 
                        class="img-circle dp-thumbs"
                    />
                </a>
                <div class="btn-group">
                    <button type="button"
                        class="btn btn-success "
                        data-toggle="modal"
                        data-target="#do-the-angle-modal"
                    >Do the Angle
                    <i class="fa fa-level-up" aria-hidden="true"></i>
                    </button>
<!-- do the angle modal -->
                    <div class="modal fade"
                        id="do-the-angle-modal"
                        tabindex="-1"
                        role="dialog"
                        aria-labelledby="do-the-angle-label"
                    >
                        <div class="modal-dialog modal-lg"
                            role="document"
                        >
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button"
                                        class="close"
                                        data-dismiss="modal"
                                        aria-label="Close"
                                    >
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <h4 class="modal-title"
                                        id="do-the-angle-label"
                                    >Do the Angle Preview
                                    </h4>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-xs-2"></div>
                                        <div class="col-xs-8">
                                            <img src="{{site.media-prod}}do-the-angle-preview.png"
                                                title="do the angle preview"
                                                class="modal-thumbs"
                                            >
                                        </div>
                                        <div class="col-xs-2"></div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button"
                                        class="btn btn-default"
                                        data-dismiss="modal"
                                    >Close
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
<!-- modal END -->
<!-- do the angle caret -->
                    <button type="button" 
                        class="btn  btn-success dropdown-toggle" 
                        data-toggle="dropdown" 
                        aria-haspopup="true" 
                        aria-expanded="false"
                    >
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu">
                        <li 
                            ng-click="body.getDetailsDoTheAngle()"
                        >
                            <a href=""
                            >Details
                            </a>
                        </li>
                        <li>
                        <!-- https://billbunkum.github.io/do-the-angle/ -->
                            <a 
                                href="{{site.dotheangle-deploy}}"
                                title="angular to-do list"
                            >Check it out!
                            </a>
                        </li>
                    </ul>
                </div>
            </div> <!-- col END -->
            <div class="col-xs-1 col-sm-2"></div>
        </div> <!-- row end -->

<!-- DotheAngle DETAILS -->
        <div ng-show="body.dotheangle">
            <div class="row">
                <div class="col-xs-8 col-xs-offset-2 explanation-bg"
                    ng-show="body.details"
                >
                    <div class="explanation">
                        <h3>Do the Angle</h3>
                        <p>
                            A to-do list made with Angular; this simple app relies on <code>ng-show</code> and ternary functions - which are great for smaller functionalities. I am currently delving into <em>UI-router</em> for bigger projects which need to be split into <em>components</em>.
                        </p>
                        <button class="btn btn-default" 
                            ng-click="body.hideAllDetails()"
                        >Close
                        </button>
                    </div>
                </div>
            </div>
        </div>

<!-- GROCERY LIST -->
        <div class="row">
            <div class="col-xs-1 col-sm-2"></div>
            <div class="col-xs-10 col-sm-8">
                <a href="{{site.grocery-deploy}}" 
                    class="thumbnail"
                >
                    <img ng-src="{{site.media-prod}}thumbs_down.png"
                        class="img-circle dp-thumbs"
                    />
                </a>

                <div class="btn-group">
                    <button type="button"
                        class="btn btn-success"
                        data-target="#grocery-list-modal"
                        data-toggle="modal"
                    >Grocery List
                    <i class="fa fa-level-up" aria-hidden="true"></i>
                    </button>
<!-- grocery list modal -->
                    <div class="modal fade"
                        id="grocery-list-modal"
                        tabindex="-1"
                        role="dialog"
                        aria-labelledby="grocery-list-label"
                    >
                        <div class="modal-dialog modal-lg"
                            role="document"
                        >
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button"
                                        class="close"
                                        data-dismiss="modal"
                                        aria-label="Close"
                                    >
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <h4 class="modal-title"
                                        id="grocery-list-label"
                                    >Grocery List Preview
                                    </h4>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-xs-2"></div>
                                        <div class="col-xs-8">
                                            <img ng-src="{{site.media-prod}}grocery-list-preview.png"
                                                title="grocery list preview"
                                                class="modal-thumbs"
                                            >
                                        </div>
                                        <div class="col-xs-2"></div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button"
                                        class="btn btn-default"
                                        data-dismiss="modal"
                                    >Close
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
<!-- end modal -->
<!-- grocery list caret -->
                    <button type="button" 
                        class="btn btn-success dropdown-toggle" 
                        data-toggle="dropdown" 
                        aria-haspopup="true" 
                        aria-expanded="false"
                    >
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu">
                        <li 
                            ng-click="body.getDetailsGroceryList()"
                        >
                            <a href=""
                            >Details
                            </a>
                        </li>
                        <li>
                        <!-- https://grocerybootylist.herokuapp.com/ -->
                            <a 
                                href="{{site.grocery-deploy}}" 
                                title="djangoREST + angular"
                                class="button-text"
                            >Check it out!
                            </a>
                        </li>
                    </ul>
<!-- btn-group -->
                </div>
<!-- col END -->
            </div>
            <div class="col-xs-1 col-sm-2"></div>
        </div> <!-- row end -->

<!-- Grocerylist DETAILS -->
        <div ng-show="body.grocerylist">
            <div class="row">
                <div class="col-xs-8 col-xs-offset-2 explanation-bg"
                    ng-show="body.details"
                >
                    <div class="explanation">
                        <h3>Grocery List</h3>
                        <p>
                            An improvement on the angular to-do list, this app persists data! The goal was to have a usable app which did not require page refreshing. I have actually used this one off the cuff for a quick, online to-do list.
                        </p>
                        <button class="btn btn-default" 
                            ng-click="body.hideAllDetails()"
                        >Close
                        </button>
                    </div>
                </div>
            </div>
        </div>

<!-- DATE BY HATE -->
        <div class="row">
            <div class="col-xs-1 col-sm-2"></div>
            <div class="col-xs-10 col-sm-8">
                <a href="{{site.datebyhate-deploy}}" 
                    class="thumbnail"
                >
                    <img ng-src="{{site.media-prod}}penta_star.png" 
                        class="img-circle dp-thumbs"
                    />
                </a>
                <div class="btn-group">
                    <button type="button"
                        class="btn btn-success "
                        data-target="#date-by-hate-modal"
                        data-toggle="modal"
                    >Date by Hate
                    <i class="fa fa-level-up" aria-hidden="true"></i>
                    </button>
<!-- date by hate modal -->
                    <div class="modal fade"
                        id="date-by-hate-modal"
                        tabindex="-1"
                        role="dialog"
                        aria-labelledby="date-by-hate-label"
                    >
                        <div class="modal-dialog modal-lg"
                            role="document"
                        >
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button"
                                        class="close"
                                        data-dismiss="modal"
                                        aria-label="Close"
                                    >
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <h4 class="modal-title"
                                        id="date-by-hate-title"
                                    >Date by Hate Preview
                                    </h4>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-xs-2"></div>
                                        <div class="col-xs-8">
                                            <img ng-src="{{site.media-prod}}date-by-hate-others-angst.png" 
                                                title="date by hate preview"
                                                class="modal-thumbs"
                                            >
                                        </div>
                                        <div class="col-xs-2"></div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button"
                                        class="btn btn-default"
                                        data-dismiss="modal"
                                    >
                                        Close
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
<!-- end modal -->
<!-- date by hate caret -->
                    <button type="button" 
                        class="btn  btn-success dropdown-toggle" 
                        data-toggle="dropdown" 
                        aria-haspopup="true" 
                        aria-expanded="false"
                    >
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu">
                        <li 
                            ng-click="body.getDetailsDateByHate()"
                        >
                            <a href=""
                            >Details
                            </a>
                        </li>
                        <li>
                        <!-- https://datebyhate.herokuapp.com/accounts/login/?next=/ -->
                            <a 
                                href="{{site.datebyhate-deploy}}" 
                                title="django + djangoREST + angular"
                            >Check it out!
                            </a>
                        </li>
                    </ul>
<!-- btn-group end -->
                </div>
<!-- col end -->
            </div>
            <div class="col-xs-1 col-sm-2"></div>
        </div> <!-- row end -->
    </div> <!-- dp col -->
</div> <!-- dp row -->
<p></p>

<!-- DatebyHate DETAILS -->
<div ng-show="body.datebyhate">
    <div class="row">
        <div class="col-xs-8 col-xs-offset-2 explanation-bg"
            ng-show="body.details"
        >
            <div class="explanation">
                <h3>Date-by-Hate<br />
                    <small>
                        DBH was my final project at the Bootcamp; it's really a fun idea - match people by movies they hate!
                    </small>
                </h3>
                <p>
                    UPDATE 11.22.16<br />
                    Fixed the issue! Turns out the problem was how I was retrieving a media file via <code>http</code>; I simply hard-coded the file. <em>Boom</em>!
                </p>

                <p>
                    ISSUE 11.16.16<br />
                    I'm having issues with <code>cross-domain requests</code>; DBH retrieves info from a foreign API which does not use https (for some reason). This is another 'deployment' obstacle I have run into suddenly; it will be interesting solving it. More @ <a href="{{site.obstacles}}" alt="blog post">bootcamp-blog</a>.
                </p>
                <button class="btn btn-default" 
                    ng-click="body.hideAllDetails()"
                >Close
                </button>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <h2>Wordpress blogs<br />
            <small>Freelance &amp; collaborations</small>
        </h2>
    </div>
</div>

<div class="row">
    <div class="col-xs-1 col-sm-2"></div>
    <div class="col-xs-10 col-sm-8">
        <a href="https://intrepidadventurers.wordpress.com/"
            class="thumbnail"
        >
            <img ng-src="{{site.media-prod}}IA_logo.jpg" 
                alt="intrepid adventurers"
                title="intrepid adventurers logo"
                class="img-circle dp-thumbs"
            />
        </a>
        <!-- <button class="btn btn-primary">
            <a href="https://intrepidadventurers.wordpress.com/" 
                class="button-text"
            >Intrepid Adventurers blog
            </a>
        </button> -->
    </div>
    <div class="col-xs-1 col-sm-2"></div>
</div>
<div class="row">
    <div class="col-xs-1 col-sm-2"></div>
    <div class="col-xs-10 col-sm-8">
                <a href="https://artinchinatrebuchet.wordpress.com/"
            class="thumbnail"
        >
            <img ng-src="{{site.trebuchet}}" 
                alt="artinchinatrebuchet"
                title="artinchinatrebuchet"
                class="img-circle dp-thumbs"
            />
        </a>
        <!-- <button class="btn btn-primary">
            <a href="https://artinchinatrebuchet.wordpress.com/" 
                class="button-text"
            >Art in China Trebuchet blog
            </a>
        </button> -->
    </div>
    <div class="col-xs-1 col-sm-2"></div>
</div>

<div class="row">
    <div class="col-md-11 col-md-offset-1">
        <h3>Walk-thru projects<br />
            <small>Used to learn fundamentals in class</small>
        </h3>
        <button class="btn btn-info">
            <a 
                href="https://rocky-gorge-46988.herokuapp.com/" 
                alt="open-weather-app"
                title="using Flask w/ Open Weather API"
                class="button-text"
            >
                Open Weather
            </a>
        </button>
    </div>
</div>