/*styles for bio index.html*/

h1, h2 {
  font-family: fantasy;
}

a:link, a:visited, a:active {
  color: #8b8378;
  font-weight: bolder;
  text-decoration: none;
}

a:hover {
  color: black;
  font-weight: bold;
  text-decoration: underline;
}

ul {
  text-decoration: none;
  list-style-type: none;
}

li {
  float: left;
}


body {
  background-color: #ebece4; /*grey cliffs*/
  margin: 0;
  padding: 0;
}

.container {
  margin: 0;
  padding: 0;
  border: 5px dotted black;
  background-color: #f1edc2; /*toasted meringue*/
  color: #8B0000; /*text dark-red*/
}

.aboutMe {
  max-width: 700px;
  margin: 0 auto;
  font-family: 'Oswald', serif;
  font-size: 15px;
  border: 2px dotted orange;
}

.nav {
  border: 2px dotted blue;
  width: 94%;
}

.nav a:hover, a:active {
  background-color: black;
  color: white;
}

.nav.lower {
  position: absolute;
  border: 2px dotted red;
}

/* about page VIDEO */
.video {
  margin: 50px;
}
