  </div>

    <ul class="nav lower">  
      <li><a href={{site.github}}>github</a>
        </li>  
      <li><a href={{site.stack-over-flow}}>stackoverflow</a>
        </li>  
      <li><a href={{site.fb}}>facebook art page</a>
        </li>  
      <li><a href={{site.linkedin}}>linkedin</a>
        </li> 
      <li><a href={{site.twitter}}>twitter</a>
        </li>
      <li><a href={{site.rando-blog}}>rando-blog</a>
        </li>
      <li><a href={{site.tech-blog}}>tech-blog</a>
        </li>
    </ul>

</div>
<!-- bootstrappin' it down -->
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>