  </div>

    <ul class="nav lower">  
      <li><a href={{site.github}}>github</a>
        </li>  
      <li><a href={{site.stack-over-flow}}>stackoverflow</a>
        </li>  
      <li><a href={{site.fb}}>facebook art page</a>
        </li>  
      <li><a href={{site.linkedin}}>linkedin</a>
        </li> 
      <li><a href={{site.twitter}}>twitter</a>
        </li>
      <li><a href={{site.rando-blog}}>rando-blog</a>
        </li>
      <li><a href={{site.tech-blog}}>tech-blog</a>
        </li>
    </ul>

</div>
</body>
</html>