<!DOCTYPE html>
<html lang="en">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Bunkum Bio</title>

<!-- google font for headers text & links -->
<link href="https://fonts.googleapis.com/css?family=Bitter|Chathura|Open+Sans+Condensed:300" rel="stylesheet">

<!--bootstrappin' it up -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="/css/styles.css" />

</head>
<body>
    <header>
        <ul class="nav nav-tabs nav-tops">
            <li><a href={{site.home-page}}>Home</a></li>
            <li><a href={{site.about-page}}>About</a></li>
            <li><a href={{site.contact}}>Contact</a></li>
        </ul>

        <div class="jumbotron">
            <img 
                src="art_cascade.png" 
                alt="art pic" 
                class="jumbo-image"
            />
            <h1>Bill Bunkum<br />
                <small>Aspiring Web Developer</small>
            </h1>
        </div>
    </header>
    <div class="container-fluid">
