.modal-thumbs {
  width: 100%;
}

img.dp-thumbs {
  width: 10em;
}

img .img-circle {
  margin: auto 0;
}

a.button-text {
  color: #ffffff;
}

/* index page */
.explanation-bg {
  /*border color*/
  background: #000000;
  background: -webkit-gradient(linear, left top, left bottom, from($explanation-blue), to($explanation-white));
  padding: 1px;
  margin-top: 1em;
  margin-bottom: 1em;
}

.explanation {
  /*middle part*/
  padding: 8px;
  background: $explanation-white;
  background: -webkit-gradient(linear, left top, left bottom, from($explanation-white), to($explanation-blue));
}

.solved {
  font-size: 18px;
  color: $header-blue;
}

.thumbnail {
  margin: 5px;
  background-color: $explanation-white;
  border: solid #000000;
}