.modal-thumbs {
  width: 100%;
}

img.dp-thumbs {
  width: 10em;
}

img .img-circle {
  margin: auto 0;
}

a.button-text {
  color: #ffffff;
}

/* index page */
.explanation-bg {
  /*border color*/
  background: #000000;
  background: -webkit-gradient(linear, left top, left bottom, from(#C0CBCD), to(#eaeced));
  padding: 1px;
  margin-top: 1em;
  margin-bottom: 1em;
}

.explanation {
  /*middle part*/
  padding: 8px;
  background: #EAECED;
  background: -webkit-gradient(linear, left top, left bottom, from(#eaeced), to(#c0cbcd));
}

.solved {
  font-size: 18px;
  color: #648287;
}

.thumbnail {
  margin: 5px;
  background-color: #EAECED;
  border: solid #000000;
}