.jumbo-image {
  position: relative;
  float: none;
}

.art-cascade {
  max-width: 225px;
}

.navbar {
  background-color: #BAC4C6;
  margin: 0 auto;
}

#nav-collapse > ul > li > a > img {
  width: 35px;
}

#nav-collapse > ul > li > a > img#codecademy-logo {
  width: 55px;
}

.jumbotron {
  padding: 10px 15px;
  margin: 0px;
  /*background-image: url("/art_cascade.png");*/
  background-repeat: no-repeat;
  background-size: contain;
  background: linear-gradient(160deg, #DCA7A1, #FFFFFF);
  background-repeat: no-repeat;
}