.jumbo-image {
  position: relative;
  float: none;
}

.art-cascade {
  max-width: 225px;
}

.navbar {
  background-color: $navbar-blue;
  margin: 0 auto;
}

// testing whether 'nested' or '>' rules are better for this situation
/* #nav-collapse > ul > li > a > img {
 *    width: 35px;
 * }
*/
#nav-collapse {
  ul { 
    li { 
      a {
        img {
          width: 35px;
        }
      }
    }
  }
}

// #nav-collapse > ul > li > a > img#codecademy-logo {
//   width: 55px;
// }

.jumbotron {
  padding: 10px 15px;
  margin: 0px;
  /*background-image: url("/art_cascade.png");*/
  background: linear-gradient(160deg, $jumbotron-pink, #FFFFFF);
  background: {
    repeat: no-repeat;
    size: contain;
    repeat: no-repeat;
  }
}