/* importer compiles all scss files */
/*light red #FFDCD9 */
/*blue #648287 */
/*light blue #BAC4C6 */
/*green #648287*/
/*super light gray/blue #C0CBCD*/
/* extra light gray #EAECED*/
/* dev blog*/
/* line 8, ../sass/partials/screen.scss */
.center {
  margin-left: 100px;
}

/* line 12, ../sass/partials/screen.scss */
h1, h2, h3, h4, small {
  color: #648287;
  font-family: 'Bitter', serif;
}

/* line 17, ../sass/partials/screen.scss */
a:link, a:visited, a:active {
  color: #8b8378;
  font-weight: bolder;
  text-decoration: none;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 24px;
}

/* line 25, ../sass/partials/screen.scss */
a:hover {
  color: black;
  font-weight: bold;
  text-decoration: none;
}

/* line 31, ../sass/partials/screen.scss */
ul {
  list-style-type: none;
  text-decoration: none;
}

/* line 36, ../sass/partials/screen.scss */
body {
  margin: 0 auto;
  font-size: 20px;
}

/*img.thumbs {
  width: 10em;
}*/
/* line 45, ../sass/partials/screen.scss */
.modal-thumbs {
  width: 100%;
}

/* line 50, ../sass/partials/screen.scss */
img.dp-thumbs {
  width: 10em;
}

/* line 54, ../sass/partials/screen.scss */
img .img-circle {
  margin: auto 0;
}

/* line 59, ../sass/partials/screen.scss */
#nav-collapse > ul > li > a > img {
  width: 35px;
}

/* line 63, ../sass/partials/screen.scss */
#nav-collapse > ul > li > a > img#codecademy-logo {
  width: 55px;
}

/* line 67, ../sass/partials/screen.scss */
footer > ul > li > a > img {
  width: 50px;
}

/* line 71, ../sass/partials/screen.scss */
footer > ul > li > a > img#codecademy-logo {
  width: 65px;
}

/* line 75, ../sass/partials/screen.scss */
footer.bottom ul li a {
  /*font-size: 18px;*/
  font-size: 1.4em;
  clear: both;
}

/* allows bottom of page to not be obscured by footer navbar */
/* line 82, ../sass/partials/screen.scss */
footer.bottom {
  padding-top: 10em;
  overflow-wrap: normal;
}

/* line 87, ../sass/partials/screen.scss */
.btn-group {
  margin-top: 5px;
}

/* line 91, ../sass/partials/screen.scss */
.jumbotron {
  padding: 10px 15px;
  margin: 0px;
  /*background-image: url("/art_cascade.png");*/
  background-repeat: no-repeat;
  background-size: contain;
  background: linear-gradient(160deg, #DCA7A1, #FFFFFF);
  background-repeat: no-repeat;
}

/* line 101, ../sass/partials/screen.scss */
a.button-text {
  color: #ffffff;
}

/* line 105, ../sass/partials/screen.scss */
li > a.footer-text {
  color: #ffffff;
}

/* line 109, ../sass/partials/screen.scss */
.jumbo-image {
  position: relative;
  float: none;
}

/* line 114, ../sass/partials/screen.scss */
.art-cascade {
  max-width: 225px;
}

/* line 118, ../sass/partials/screen.scss */
.navbar {
  background-color: #BAC4C6;
  margin: 0 auto;
}

/* index */
/* line 124, ../sass/partials/screen.scss */
.explanation-bg {
  /*border color*/
  background: #000000;
  background: -webkit-gradient(linear, left top, left bottom, from(#C0CBCD), to(#eaeced));
  padding: 1px;
  margin-top: 1em;
  margin-bottom: 1em;
}

/* line 133, ../sass/partials/screen.scss */
.explanation {
  /*middle part*/
  padding: 8px;
  background: #EAECED;
  background: -webkit-gradient(linear, left top, left bottom, from(#eaeced), to(#c0cbcd));
}

/* line 140, ../sass/partials/screen.scss */
.solved {
  font-size: 18px;
  color: #648287;
}

/* line 145, ../sass/partials/screen.scss */
.thumbnail {
  margin: 5px;
  background-color: #EAECED;
  border: solid #000000;
}

/* about page VIDEO */
/* line 153, ../sass/partials/screen.scss */
.video {
  margin: 50px;
}

/* used in Blog posts in _posts */
/* line 158, ../sass/partials/screen.scss */
.blog-blurb-text {
  font-family: sans-serif;
  font-size: 18px;
}

/* line 163, ../sass/partials/screen.scss */
.signature {
  float: right;
  margin-right: 50px;
  margin-bottom: 10px;
  font-size: 16px;
  color: grey;
}

/* intext elements */
/* line 173, ../sass/partials/screen.scss */
.bold {
  font-weight: bold;
}

/* line 177, ../sass/partials/screen.scss */
span.cursive {
  font-style: oblique;
}

/* line 181, ../sass/partials/screen.scss */
span.latin {
  font-style: italic;
}

/* line 185, ../sass/partials/screen.scss */
iframe#about-imbed-youtube {
  width: 100%;
  height: 30em;
  max-width: 32em;
  max-height: 10em;
}

/* line 192, ../sass/partials/screen.scss */
a#kavakings-btn {
  color: white;
}
