/* importer compiles all scss files */
/* Sass variables - we workin' w/variables now, champs! */
/* weird pink */
/* line 9, ../sass/partials/_base.scss */
h1, h2, h3, h4, small {
  color: #648287;
  font-family: 'Bitter', serif;
}

/* line 14, ../sass/partials/_base.scss */
a:link, a:visited, a:active {
  color: #8b8378;
  font-weight: bolder;
  text-decoration: none;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 24px;
}

/* line 22, ../sass/partials/_base.scss */
a:hover {
  color: black;
  font-weight: bold;
  text-decoration: none;
}

/* line 28, ../sass/partials/_base.scss */
ul {
  list-style-type: none;
  text-decoration: none;
}

/* line 33, ../sass/partials/_base.scss */
body {
  margin: 0 auto;
  font-size: 20px;
}

/* dev blog*/
/* line 39, ../sass/partials/_base.scss */
.center {
  margin-left: 100px;
}

/* about page VIDEO */
/* line 44, ../sass/partials/_base.scss */
.video {
  margin: 50px;
}

/* line 48, ../sass/partials/_base.scss */
iframe#about-imbed-youtube {
  width: 100%;
  height: 30em;
  max-width: 32em;
  max-height: 10em;
}

/* used in Blog posts in _posts */
/* line 56, ../sass/partials/_base.scss */
.blog-blurb-text {
  font-family: sans-serif;
  font-size: 18px;
}

/* intext elements */
/* line 62, ../sass/partials/_base.scss */
.bold {
  font-weight: bold;
}

/* line 66, ../sass/partials/_base.scss */
span.cursive {
  font-style: oblique;
}

/* line 70, ../sass/partials/_base.scss */
span.latin {
  font-style: italic;
}

/* line 1, ../sass/partials/_header.scss */
.jumbo-image {
  position: relative;
  float: none;
}

/* line 6, ../sass/partials/_header.scss */
.art-cascade {
  max-width: 225px;
}

/* line 10, ../sass/partials/_header.scss */
.navbar {
  background-color: #BAC4C6;
  margin: 0 auto;
}

/* line 15, ../sass/partials/_header.scss */
#nav-collapse > ul > li > a > img {
  width: 35px;
}

/* line 19, ../sass/partials/_header.scss */
#nav-collapse > ul > li > a > img#codecademy-logo {
  width: 55px;
}

/* line 23, ../sass/partials/_header.scss */
.jumbotron {
  padding: 10px 15px;
  margin: 0px;
  /*background-image: url("/art_cascade.png");*/
  background-repeat: no-repeat;
  background-size: contain;
  background: linear-gradient(160deg, #DCA7A1, #FFFFFF);
  background-repeat: no-repeat;
}

/* line 1, ../sass/partials/_content.scss */
.modal-thumbs {
  width: 100%;
}

/* line 5, ../sass/partials/_content.scss */
img.dp-thumbs {
  width: 10em;
}

/* line 9, ../sass/partials/_content.scss */
img .img-circle {
  margin: auto 0;
}

/* line 13, ../sass/partials/_content.scss */
a.button-text {
  color: #ffffff;
}

/* index page */
/* line 18, ../sass/partials/_content.scss */
.explanation-bg {
  /*border color*/
  background: #000000;
  background: -webkit-gradient(linear, left top, left bottom, from(#C0CBCD), to(#EAECED));
  padding: 1px;
  margin-top: 1em;
  margin-bottom: 1em;
}

/* line 27, ../sass/partials/_content.scss */
.explanation {
  /*middle part*/
  padding: 8px;
  background: #EAECED;
  background: -webkit-gradient(linear, left top, left bottom, from(#EAECED), to(#C0CBCD));
}

/* line 34, ../sass/partials/_content.scss */
.solved {
  font-size: 18px;
  color: #648287;
}

/* line 39, ../sass/partials/_content.scss */
.thumbnail {
  margin: 5px;
  background-color: #EAECED;
  border: solid #000000;
}

/* line 1, ../sass/partials/_buttons.scss */
.btn-group {
  margin-top: 5px;
}

/* line 1, ../sass/partials/_footer.scss */
footer > ul > li > a > img {
  width: 50px;
}

/* line 5, ../sass/partials/_footer.scss */
footer > ul > li > a > img#codecademy-logo {
  width: 65px;
}

/* line 9, ../sass/partials/_footer.scss */
footer.bottom ul li a {
  /*font-size: 18px;*/
  font-size: 1.4em;
  clear: both;
}

/* allows bottom of page to not be obscured by footer navbar */
/* line 16, ../sass/partials/_footer.scss */
footer.bottom {
  padding-top: 10em;
  overflow-wrap: normal;
}

/* line 21, ../sass/partials/_footer.scss */
li > a.footer-text {
  color: #ffffff;
}

/* line 25, ../sass/partials/_footer.scss */
.signature {
  float: right;
  margin-right: 50px;
  margin-bottom: 10px;
  font-size: 16px;
  color: grey;
}
